{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
<div class="main">
    <br>
    
    <form method="POST">
     
              <div class="card-body">
                <h5 class="card-title">
                {% csrf_token %}       
                {{ form.as_p }}
                <br>
                <br>
                <center><input type="submit" value="Alterar" class="btn btn-primary"></center>
              </div>      
    </form>
    </div>
  <hr/>
<center><a  href="{% url 'grupos_consulta_edit' %}" class="btn btn-primary">Voltar</a></center>
</div>
</div>
{% endblock %}